.profileContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-bottom: 50px;
}

.photoProfile {
  cursor: pointer;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

.infoProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoProfile div:nth-child(2) {
  display: flex;
    justify-content: space-evenly;
}
.sign-in_apl-profile{
  width: auto;
  padding-inline: 30px;
  background-color: #c91d1d;
}
.sign-in_btn-profile{
  width: auto;
  padding-inline: 30px;
}

.infoProfile p {
  font-size: 1.2rem;
}

.infoProfile span {
  font-weight: 600;
}

.inputField{
  margin-left: 10px;
  padding-left: 5px;
  width: 50%;
}
.disabledbtn{
  cursor: not-allowed;
  background-color: #c4cfff;
  color: white;
}


@media only screen and (max-width: 1024px) {
  .profileContainer {
    flex-direction: column;
    align-items: center;
  }
  .inputField{
    margin-left: 10px;
    padding-left: 5px;
    width: 100%;
  }

  .infoProfile div:nth-child(1) {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoProfile div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .infoProfile div:nth-child(1) > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}